body {
    background-image: linear-gradient(to right, #ae8625, #f7ef8a, #d2ac47, #edc967 );
}

/* nav */

ul {
    margin:0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    background-color: #02143D;
    height: 75px;
    list-style-type: none;
}

li {
    float: left;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    
}

.logo {
    margin-top: -5px;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 10px;
    padding-right: 50px;  
}

li a:hover {
    color:#edc967;
    font-weight: bold;
}

#active {
    color:rgb(155, 166, 175);
    
}

/*form*/

.container {
    display:flex;
    height: 600px;
    width: auto;
    max-width: 300px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;  
}

form {
    background-color: #02143D;
    color:white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, .02), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: Luminari, fantasy;
}

h1 {
    font-weight: lighter;
    text-align: center;
}

input {
    padding: 5px;
    padding-right: 40px;

    
}

label {
    margin-top: 5px;
}

label.message {
    margin-top: 10px;
    
}

textarea.message {
    margin-top: 2px;
    width: 95%;
    margin-left: 10px;
}

input.submit {
    background-color: #edc967;
    margin-top: 20px;
    border-radius: 5px;
    color: #02143D;
    padding: 10px;
    width:100%;
   

}